
body {
    font-size: 24px;
    background-color:mintcream;
}

.main-heading-1 {background-color: palevioletred;
    color: white;
    width: 400px;
 

}

.heading-1{background-color: lightgray;
    color: palevioletred;

}
.heading-2 {background-color: lightgray;
    color: palevioletred;


}
h3:hover{
color: turquoise;
}
.sub-heading-1 {background-color: yellow;


}

.sub-heading-2{background-color: yellow;

}

.heading-3{background-color: lightgray;
    color: palevioletred;

}

.parag-1{background-color: violet;

}



    a:link{
        color: violet;
    }

    .image2 {

        float: right;
        
    }

    .image1 {

        float: left;
    }

    .image3 {

        float: left;
    }

    h4 {
        margin-top: 100px;
        font-size: 40px;
        background-color: blue; 
        width: 600px;
        color: white;
        
    }
    
    .link-jump:hover {
background-color: violet;
width: 200px;


    } 
    
    .link-back:hover {
        background-color: violet;
        width: 200px;}
    /* .contact {
        font-size: 24px;
    } */

    .allLinks::first-line  {color: red;
}