.main-header-img {
  /* width: 100%; */
  height: 200px;
  width: 100%;
  object-fit: cover;
}

body {
  background-color: rgb(238, 213, 217);
  text-align: center;
  list-style: initial;
  width: 800px;
}

.class {
  text-align: center;
}

h1 {
  background-color: #F58EA0;
  color: #DAD8D8;
}

h3 {
  color: black;
  background-color: #EBF64E;
}

h3:hover {
  color: #1ed7f0;
}

#main-topic {
  background-color: hotpink;
}

.subtopic {
  background-color: #ebf64d;
}

.subtopic:hover {
  color: rgb(30, 215, 240);
}

a img {
  width: 125px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

#lollipop {
  float: left;
  border: 5px solid #ebf64d;
}

#candy-floss {
  float: right;
  border: 5px solid #1ed7f0;
}

#jellybeans {
  float: left;
  border: 5px solid #ff69b4;
}

.partners:active {
  background-color: #ff69b4;
  color: #efefef;
}

h4 + ul {
  list-style: none;
}

h4 + ul:hover {
  background-color: #ebf64d;
}

#contact a:visited {
  color: rgb(30, 215, 240);
}

#link-color {
  font-weight: bold;
  font-color: #1ed7f0;
}

/* CONTACT PAGE */

#contact-header-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

ul {
  background-color: #1ed7f0;
}

ul:hover {
  background-color: #f58ea0;
}

h3 + ul li {
  list-style: circle;
}

#main a:visited {
  color: #ec10bd;
}

p::first-letter { color: #ff69b4; }

p::first-line {
  color: red
}

p:hover {
  color: aqua;
}