/* Section added by Kai */

#header-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#treats-image {
  width: 120px;
  height: 100px;
  float: left;
  border-radius: 50%;
  border: 5px solid #ebf64d;
}

#floss-image {
  width: 120px;
  height: 100px;
  float: right;
  border-radius: 50%;
  border: 5px solid rgb(30, 215, 240);
}

#jelly-image {
  width: 120px;
  height: 100px;
  float: left;
  border-radius: 50%;
  border: 5px solid hotpink;
}
/* Section added by Kai */

h1 {
  background-color: #f58ea0;
  color: #dad8d8;
}

h2 {
  color: #f112f1;
  background-color: #dad8d8;
}

#main-topic {
  background-color: hotpink;
}

.subtopic {
  background-color: #ebf64d;
}

.subtopic:hover {
  color: rgb(30, 215, 240);
}

.partners:active {
  background-color: hotpink;
  color: #efefef;
}

h4 + ul {
  list-style: none;
}

h4 + ul:hover {
  background-color: #ebf64d;
}

#contact a:visited {
  color: rgb(30, 215, 240);
}

/* CONTACT PAGE */

ul {
  background-color: rgb(30, 215, 240);
}

ul:hover {
  background-color: #f58ea0;
}

h3 + ul li {
  list-style: circle;
}

#main a:visited {
  color: #ec10bd;
}
